<!-- <h1>Angular Paypal</h1>
<img src="assets/angular-logo.png"/>
<h1>{{ title }}</h1>

 this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <input type="number" [(ngModel)]="finalAmount" style="padding-bottom: 10px;"><br>
<input type="number" [(ngModel)]="finalAmount1" style="padding-bottom: 10px;">=
{{finalAmount+finalAmount1}}
<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-checkout-btn"></div> 
<app-country></app-country>-->
<router-outlet></router-outlet>